@{
    ViewData["Title"] = "About";
}
<h2>About Us</h2>
<p>As a College of Business organization, we strive to create technical solutions for local businesses while helping students strengthen leadership, technical excellence and business acumen.</p>
