@{
    ViewData["Title"] = "Home Page";
}
<div  class="jumbotron text-center " style="background-color:#ADD8E6">
  <h1> Welcome To Buffteks</h1>
  <p>We help our communities meet their right with website development. Student! Join us to improve your skills.</p> 
</div>



