@{
    ViewData["Title"] = "Home Page";
}

<div  class="jumbotron text-center " style="background-color:#ADD8E6" >
  <h1> Welcome To Buffteks</h1>
</div>

<img width="" height="300" 
  src="https://buffteks.net/wp-content/uploads/2018/10/BT-Logo-White-1024x596.png" 
  class="attachment-large size-large" alt="" 
  srcset="https://buffteks.net/wp-content/uploads/2018/10/BT-Logo-White-1024x596.png 1024w,
  https://buffteks.net/wp-content/uploads/2018/10/BT-Logo-White-300x175.png 300w, 
  https://buffteks.net/wp-content/uploads/2018/10/BT-Logo-White-768x447.png 768w" 
  sizes="(max-width: 960px) 100vw, 960px">

<p>We help our communities meet their right with website development. Student! Join us to improve your skills.</p> 

